.hide {
  display: none;
}

.show {
  display: block;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.interact {
  cursor: pointer;
}

.highlight {
  color: $font-primary;
}

.text_justify {
  text-align: justify;
}
